<html>
    <head>{{>header}}
    
    </head>

    <body>

        {{^user}}
        <a href="/user/signIn">Sign In</a>
        {{/user}}


        {{#user}}
        <a id="logout" href="/user/logout" class="btn btn-primary">
        Sign out
        </a>

        </br>
        <a href = "/staff/home">Staff Portal</a>
        {{/user}}
        
        <div class="container mt-5">
            <div class="card shadow p-4">
                <h4 class="text-primary">{{message}}</h4>
                <a href = "/viewCourses">Browse Our Classes</a>
            </div>
        </div>
    </body>
</html>