<html>
    <head>{{>header}}</head>

    <body>
        <div class="container mt-5">
            <div class="card shadow p-4">
                <h4 class="text-primary">{{message}}</h4>
                <p class="lead">Browse Our Classes</p>
            </div>
        </div>
    </body>
</html>