<html>
    {{>header}}

    <body>
        <div >
            <div>
            <h4>{{message}}</h4>
            <p>
                Browse Our Classes
            </p>
            
        </div>
    </body>
</html>