<html>

{{>header}}

<body>
<h3>{{message}}</h3>
    
    {{#entries}}
    <div>
        <div>
            <h4>{{description}}</h4>
            <p>
            {{location}}
            </p>
            <div>
            <p>Date and Time: {{dateTime}}</p> </br>
            <a href="/registerAttendance/{{courseId}}/{{id}}" class="btn btn-primary">Register</a>
        </div>
    </div>
    </hr>
    {{/entries}}

    {{^entries}}
    No entries yet.
    {{/entries}}
</body>
</html>