<head>
    {{>header}}
</head>
<body>
    <a href = "/staff/viewCourses"> Go Back </a>

    <form action="/staff/editCourse/{{id}}" method="POST">
        <label for="name">Course Name:</label>
        <input type="text" id="name" name="name" value="{{course.name}}" required>
        <br><br>

        <label for="description">Description:</label>
        <textarea id="description" name="description" required>{{course.description}}</textarea>
        <br><br>

        <label for="duration">Duration (in weeks):</label>
        <input type="string" id="duration" name="duration" value="{{course.duration}}" required>
        <br><br>


        <button type="submit">Save Changes</button>
    </form>
</body>
</html>