<html>
    <head>{{>header}}
    
    </head>

    <body>
        <h3>{{message}}</h3>
        <a href = "/staff/loggedInHome">Return to Home</a> </br>

        <ul>
            <li><a href = "/staff/viewCourses">Manage Courses</a></li>
            <li><a href = "/staff/createCourse">Create a Course</a></li>
            <li><a href = "/staff/manageUsers">Manage Users</a></li>
            <li><a href = "/user/createUser">Create Users</a></li>
        </ul>
        
        <div class="container mt-5">
            <div class="card shadow p-4">
                
            </div>
        </div>
    </body>
</html>